<div id="vrijdag-asset-usage" class="elementselect meta read-only">
    <p>{{ 'Usage of this asset in entries'|t('asset-usage') }}:</p>

    {% if entries|length %}
        <div class="elements">
            {% for entry in entries %}
                {% include "_elements/element" with {
                    element: entry,
                    size: 'small',
                } %}
            {% endfor %}
        </div>
    {% else %}
        <p>
            <em>{{ 'No usage found in entries with this asset'|t('asset-usage') }}</em>
        </p>
    {% endif %}
</div>

{% js %}
    new Craft.BaseElementSelectInput({
        "id": "vrijdag-asset-usage",
        "elementType": "craft\\elements\\Entry",
    });
{% endjs %}